.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;
    width: 350px;
    height: 150px;
}

.sells {
    background-color: var(--info-color);
}

.sells .icon path {
    fill: #6CB0EE;
    
}

.stock {
    background-color: var(--stock-color);
}

.stock .icon path {
    fill: #2E8947;
}

.providers {
    background-color: var(--providers-color);
}

.providers .icon path {
    fill: #FF7F6D;
}

.reports {
    background-color: var(--reports-color);
}

.reports .icon path {
    fill: #F5B24E;
}

.card-info span {
    font-size: 2.5em;
}

.card-info p {
    margin-top: 30px;
}

.card .icon {
    font-size: 5em;
}

.fullcard {
    padding: 5px 0;
    cursor: pointer;
}