/* Color variables */

:root {
    --font-color: #ffffff;
    --background-color: #d3d3d3;
    --background-navbar-color: #003666;
    --background-sidebar-color: #001f3a;
    --sidebar-h3-color: #747474;
    --info-color: #5392cb;
    --s: #ff624d;
    --a: #f3a022;
    --f: #14732e;
}


/* Globals */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
    text-align: center;
    transition: .4s;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}


/* Forms */

.form {}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
}

.label-form {
    color: var(--sidebar-h3-color);
}

.input-form {
    border: none;
    border-bottom: 1px solid var(--sidebar-h3-color);
    padding: 5px 0;
}

.b-form {
    color: var(--info-color);
    margin: 30px 0;
    display: inline-block;
}