h2 {
    margin-top: 50px;
    font-size: 2em;
    color: var(--info-color);
}

.signin {
    background-color: var(--font-color);
    width: 30vw;
    color: black;
    margin: 40px auto 0 auto;
}

.signin h3 {
    color: inherit;
    padding: 20px 0;
    font-size: 1.5em;
}

.signin-form {
    display: flex;
    flex-direction: column;
}

.signin-form .form-group .input-signin {
    border: none;
    border-radius: 6px;
    background-color: #ececec;
    padding: 10px;
    text-align: left;
}

.signin-form .form-group i {}

.signin-form .btn {
    border: 1px solid var(--info-color);
    border-radius: 10px;
    padding: 10px;
    color: black;
    cursor: pointer;
    background-color: var(--background-color);
}

.signin-form a {
    text-align: right;
    color: var(--info-color);
    padding: 20px 5px;
    text-decoration: underline;
}