/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

/* Variables */

:root {
    --primary-font: "roboto";
    --secondary-font: "caesar dressing";
    --font-color: #ffffff;
    --dark-color: #000000;
    --error-color: rgb(255, 0, 0);
    --background-color: #d3d3d3;
    --background-navbar-color: #003666;
    --background-sidebar-color: #001f3a;
    --sidebar-h3-color: #747474;
    --sidebar-dropdown-color: #bebebe;
    --info-color: #5392cb;
    --info-icon-color: #6CB0EE;
    --providers-color: #ff624d;
    --providers-icon-color: #FF7F6D;
    --reports-color: #f3a022;
    --reports-icon-color: #F5B24E ;
    --stock-color: #14732E;
    --stock-icon-color: #2E8947;
    --select-hover-color: #ebebeb;
}


/* Globals */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
    text-align: center;
    transition: .4s;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}
