/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

/* Variables */

:root {
    --primary-font: "roboto";
    --secondary-font: "caesar dressing";
    --font-color: #ffffff;
    --dark-color: #000000;
    --error-color: rgb(255, 0, 0);
    --background-color: #d3d3d3;
    --background-navbar-color: #003666;
    --background-sidebar-color: #001f3a;
    --sidebar-h3-color: #747474;
    --sidebar-dropdown-color: #bebebe;
    --info-color: #5392cb;
    --providers-color: #ff624d;
    --reports-color: #f3a022;
    --stock-color: #14732E;
}


/* Globals */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-color);
    text-align: center;
    transition: .4s;
}

body {
    background-color: var(--background-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

.container {
    width: 95%;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

/* Forms */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 18px;
}

.label-form {
    color: var(--sidebar-h3-color);
    font-size: 1.2em;
}

.input-form {
    border: none;
    border-bottom: 1px solid var(--sidebar-h3-color);
    padding: 10px 2px;
    outline: none;
    color: var(--sidebar-h3-color);
    text-align: left;
    font-size: 1.1em;
}

.b-form {
    color: var(--info-color);
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    padding: 30px 0;
    display: block;
    cursor: pointer;
}

.error {
    color: var(--error-color);
    font-size: .9em;
    margin: 10px 10px 0 10px;
}